// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-form{
  border-radius: 3px;
  margin-top: 50px;
  border: 1px solid #ddd;
  padding: 20px;
  .checkbox{
    position: relative;
  }
  input[type=checkbox]{
    position: relative;
    margin-left: 0;
  }
  .link-signup{
    margin-top: 20px;
    margin-bottom: 0;
  }
}
